<!DOCTYPE html>
<html class="no-js"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <style>
            img{
                width: 300px;
                height: 300px;
            }
        </style>
       <h2>This page belongs to @<%= data.name %></h2>
       <button>Follow</button>
       <button>Message</button>
       <h4>Accounts that follow you</h4>
       <p> Followers :<%= data.followers %></p>
        <p> following :<%= data.following %></p>
        <% for(let post of data.posts)  {%>
    <img src="<%=post.image%>" alt="">
    <p>
        Likes: <%= post.likes %></p>

        <p>Comments: <%= post.comments %></p>
     <%
} %>
        <script src="" async defer></script>
    </body>
</html> 
